body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo img {
    max-width: 100%;
    height: auto;
    animation: flash 5s linear infinite;
    animation-iteration-count: 1;
}

@keyframes flash {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
